@use '../global/' as g;

.loading {
	width: 100vw;
	height: 100vh;

	padding: 7rem 0;
	background-image: url('../assets/images/bg-2.JPG');
	color: #daa520;
	// font-family: $font-body;
	transition: all 3s linear;
    gap: 3rem;
	@include g.flex-col(center);

	&-title {
		font-size: 10vh;
	}
	&-subTitle {
		&-one {
			font-size: 3vh;
			&-line {
				width: 100px;
				height: 2vh;
				border-top: 3px solid #daa520;
				border-bottom: 3px solid #daa520;
			}
		}
		&-two {
			font-size: 5vh;
		}
		&-three {
			font-size: 10vh;
		}
	}

	&__symbol {
		width: 100%;
		@include g.center-center;
		&--square {
			width: 100px;
			height: 100px;
			padding: 0.2rem;
			transition: 2s ease-in-out;
			border: 3px groove goldenrod;
			@include g.center-center;
			&:hover {
				transform: rotate(-180deg);
				cursor: pointer;
			}
			&:hover .loading__symbol--cycle {
				border-radius: 50%;
				transform: rotate(900deg);
				border: 3px solid goldenrod;
			}
		}
        
		&--cycle {
			@include g.center-center;
			width: 100%;
			height: 100%;
			padding: 0.2rem;
			object-fit: cover;
			color: #daa520;
			transition: 2s ease-in-out;
			border: 3px groove goldenrod;
		}
	}
}

@media screen and (max-width: 768px) {
	.loading {
		padding: 3rem 0 5rem;
		&-title {
			font-size: 5vh;
		}
		&-subTitle-three {
			font-size: 3.5vh;
		}
	}
}
@keyframes fadeOut {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}
