@use '../global' as g;

.contact {
	width: 100%;
	flex: 1;
	padding: 35vh 3rem 0;
	@include g.flex-col(flex-start);
	& h1 {
        color: rgb(210, 246, 218);
        text-shadow: g.$text-shadow;
        text-transform: lowercase;
	}
	& p {
		font-size: 5rem;
		font-weight: 800;
        color: #848484;
	}
}

@media screen and (max-width: 426px) {
	.contact {

        & h1 {
            font-size: 5vw;
        }
		& p {
			font-size: 3rem;
			font-weight: 800;
		}
	}
}