@use '../global' as g;

.credit {
	height: max-content;
	width: 100%;
	padding: 3rem;
	font-weight: 700;
	color: rgb(210, 246, 218);
	text-shadow: g.$text-shadow;
	@include g.flex-row(space-between);
}

@media screen and (max-width: 768px) {
	.credit {
		padding: 3rem 1rem;
		flex-direction: column;
		@include g.flex-col(center);
		gap: 1rem;
	}
}

