@use '../global/' as g;
@use '../util/' as u;

.introduce {
	margin-top: 15rem;

	&__container {
		padding: 0 3rem 3rem;
		width: 100%;
		height: 100%;
		gap: 5rem;
		@include g.flex-row(space-between);

		&--right {
			flex: 0.6;
		}

		&--left {
			flex: 0.6;
			padding: 5rem 0;
			gap: 1rem;
			@include g.flex-col(flex-start);
			text-align: left;

			& p {
				width: 100%;
				font-weight: 400;

				& span {
					// font: u.$font-martrix;
					text-shadow: g.$text-shadow-dark;

					font-size: 2 rem;
					// color: #e4ebf5;
					padding: 0.5rem;
					// text-shadow: 1px 5px 25px rgba(0, 255, 0, 0.5), 1px -5px 15px rgba(0, 255, 0, 0.5);
				}

				& a {
					padding: 0.5rem;
					text-shadow: 1px 5px 25px rgb(0, 255, 0),
						1px -5px 15px rgb(0, 255, 0);
				}
			}
		}
	}
}

@media screen and (max-width: 768px) {
	.introduce {
		height: max-content !important;

		&__container {
			padding: 0;
			width: 100%;
			height: 100%;
			@include g.flex-col(none);

			&--left {
				font-size: 2rem !important;
				flex: 1;
				padding: 1rem 0;
			}
		}
	}
}

