@use '../global/' as g;
@use '../util/' as u;

.introduce {
	margin-top: 15rem;

	&__container {
		padding: 0 3rem 3rem;
		width: 100%;
		height: 100%;
		gap: 5rem;
		@include g.flex-row(space-between);

		&--right {
			flex: 0.6;
		}

		&--left {
			flex: 0.6;
			padding: 5rem 0;
			gap: 1rem;
			@include g.flex-col(flex-start);
			text-align: left;

			& p {
				width: 100%;
				font-weight: 400;

				& span {
					// font: u.$font-martrix;
					text-shadow: g.$text-shadow-dark;

					font-size: 2 rem;
					// color: #e4ebf5;
					padding: 0.5rem;
					// text-shadow: 1px 5px 25px #daa520, 1px -5px 15px #daa520;
				}

				& a {
					padding: 0.5rem;
					text-shadow: 1px 5px 25px rgb(0, 255, 0),
						1px -5px 15px rgb(0, 255, 0);
				}
			}
		}
	}
}

@media screen and (max-width: 768px) {
	.introduce {
		height: max-content !important;

		&__container {
			padding: 5rem 3rem;
			width: 100%;
			height: 100%;
			@include g.flex-col(none);

			&--left {
				font-size: 2rem !important;
				flex: 1;
				padding: 5rem 0;
			}
		}
	}
}

.section__quote {
	margin: 0 0 15rem;
	padding: 3rem;
	background-color: #17120e;
	gap: 1rem;
	color: rgb(210, 246, 218);
	text-shadow: 1px 5px 25px #daa520, 1px -5px 15px #daa520;

	&--container {
        padding: 3rem;
        border: 0.1px solid #daa520;
        @include g.bg-matrix;
		@include g.flex-col(center);

		& > p {
			text-align: center;
		}
        
		& > span {
			font-weight: 600;
			width: 100%;
			text-align: center;
		}
	}
}
