@use '../global/' as g;

body.remove-scroll {
	overflow-y: hidden;
}
.project {
	height: max-content;
	@include g.center-center;
}
.project__item {
	border: 5px solid black;
	min-height: 280px;

	cursor: pointer;
	@include g.center-center;
}

.project__item:nth-child(1) {
	grid-area: item__01;
}

.project__item:nth-child(2) {
	grid-area: item__02;
}

.project__item:nth-child(3) {
	grid-area: item__03;
}

.project__item:nth-child(4) {
	grid-area: item__04;
}

.project__item:nth-child(5) {
	grid-area: item__05;
}

.project__item:nth-child(6) {
	grid-area: item__06;
}

.project__container {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	gap: 3rem 3rem;
	grid-auto-flow: row;
	grid-template-areas:
		'item__01 item__02 item__02'
		'item__01 item__03 item__04'
		'item__05 item__06 item__04';
}

@media screen and (max-width: 768px) {
	.project__container {
		flex-wrap: wrap;
		gap: 1rem;
        @include g.flex-row(space-between);
	}
	.project__item {
		flex: 1;
	}
}

.project__item {
	position: relative;
	// border-radius: 15px;
	padding: 0rem;

	& .dark {
		color: #f9f9f9;
	}

	&--info {
		width: 100%;
		height: 100%;
		-webkit-backdrop-filter: blur(3px);
		backdrop-filter: blur(3px);
		@include g.flex-col(center);
		& h2 {
			display: block;
		}

		& div {
			background-color: #e4ebf5;
			text-decoration: none;
		}
	}

	&:hover {
		padding: 3rem;
		transition: all 1s linear;
	}
	&:hover .project__item--info {
		@include g.background-art;
	}
	&:hover h2 {
		color: #f9f9f9;
	}
	// &:hover .item__info {
	// 	display: flex;
	// }
}

.item__info {
	padding: 1rem;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;

	&--title {
		@include g.flex-row(flex-start);
		gap: 1rem;
	}
	& p {
		margin-bottom: 1rem;
	}

	&--description {
		margin-bottom: 1rem;
	}

	&--buttons {
		gap: 1rem;
		@include g.flexbox(row, center, flex-start);

		& a {
			@include g.flex-row(flex-start);

			& span {
				font-weight: 600;
				margin-right: 1rem;
			}

			&:hover {
				text-decoration: underline;
			}
		}
	}
}

.project__modal {
	/* position */
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	/* display */
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	/* z-index */
	z-index: 1001;
}

.project__modal--bg {
	/* display */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	/* others */
	padding: 2rem 3rem 3rem;
	// backdrop-filter: blur(5px);
	background-color: #e4ebf5;
	box-shadow: g.$box-shadow-out;
	// color: #f9f9f9;
}


.project__details {
	/* display */
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	gap: 3rem;
	/* box */
}
.project__bar {
	width: 100%;
	text-align: right;
	cursor: pointer;
}

.project__details--img {
	width: 280px;
	height: 400px;
	border-radius: 10px;
	object-fit: cover;
	margin-right: 1rem;
	border: 1rem solid #191919;
}

@media screen and (max-width: 1050px) {
	.project__modal--bg {
		width: 100%;
		height: 100%;
		box-shadow: unset;
	}
	.project__details {
        flex-direction: row;
		overflow-y: scroll;
		width: 100%;
	}
	.project__details--img {
		width: max-content;
        object-fit: contain;
	}
}
@media screen and (max-width: 768px) {
	.project__details {
		overflow-y: scroll;
        flex-direction: column;

	}
}
