@use '../global/' as g;

.skills {
	@include g.flex-col(flex-start);

	&__container {
		width: 100%;
		@include g.flex-col(center);

		&--list {
			// min-height: 500px;
			height: max-content;
			margin: 3rem 0;
			@include g.flexbox(row, flex-start, center);
		}
	}
}

.card {
	// box
	width: 240px;
	height: 280px;
	padding: 3rem 1rem;
	box-shadow: -1rem 0 3rem #000;
	// position
	position: relative;
	left: 0px;
	// others
	background-color: #17141d;
	transition: 0.4s ease-out;
	cursor: pointer;
	gap: 3rem;
	@include g.flex-col(center);

	&__bottom {
		@include g.flex-col(flex-end);
		gap: 5rem;
	}

	&__button {
		padding: 1rem 2rem;
		box-shadow: -1rem 0 3rem #000;
		// others
		color: #f9f9f9;
		background-color: #17141d;
		transition: 0.4s ease-out;
		cursor: pointer;
		@include g.flex-col(center);

		&:hover {
			text-decoration: underline;
			font-weight: 700;
		}
	}

    &__title {
        color: #f9f9f985;
        font-size: 3rem;
        font-weight: 600;
        text-align: center;
    }
    
    &__icon {
        font-size: 7rem;
        color: #daa520 !important;
        border: none;
    }
}

.card {
    &:not(:first-child) {
        margin-left: -180px;
    }

    &:nth-child(2) {
        margin-top: 30px;
    }
    

    &:nth-child(3) {
        margin-top: 60px;
    }
    

    &:nth-child(4) {
        margin-top: 90px;
    }
    

    &:nth-child(5) {
        margin-top: 120px;
    }
    

    &:nth-child(6) {
        margin-top: 150px;
    }
    

    &:nth-child(7) {
        margin-top: 180px;
    }
    

    &:nth-child(8) {
        margin-top: 210px;
    }

    &:nth-child(9) {
        margin-top: 240px;
    }
    

    &:nth-child(10) {
        margin-top: 270px;
    }

    &:nth-child(11) {
        margin-top: 300px;
    }
}










.card:before,
.card:after {
	animation: none;
	opacity: 0;
}

.card::before {
	content: '';
	width: 100%;
	height: 100%;
	background-image: linear-gradient(
		var(--rotate),
		#5ddcff,
		#3c67e3 43%,
		#4e00c2
	);
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
}

.card::after {
	position: absolute;
	content: '';
	top: calc(65vh / 6);
	left: 0;
	right: 0;
	z-index: -1;
	height: 100%;
	width: 100%;
	margin: 0 auto;
	// transform: scale(0.8);
	filter: blur(calc(65vh / 6));

	background-image: linear-gradient(
		var(--rotate),
		#5ddcff,
		#3c67e3 43%,
		#4e00c2
	);
}

.card:hover {
	color: rgba(255, 186, 0, 1);
	transition: color 1s;

    &:not(:last-child) {
        transform: translateY(-20px) translateX(-130px);
        transition: 0.4s ease-out;
    }
    
    & ~ .card {
        position: relative;
        left: 50px;
        transition: 0.4s ease-out;
    }
}

.card:hover:before,
.card:hover:after {
	animation: spin 2.5s linear infinite;
	opacity: 1;
	transition: opacity 0.5s;
}



@keyframes spin {
	0% {
		--rotate: 0deg;
	}
	100% {
		--rotate: 360deg;
	}
}

@media screen and (max-width: 768px) {
	.skills__container--list {
		@include g.flex-row(space-between);
		flex-wrap: wrap;
		gap: 1rem;
	}

	.card {
        		// box
		width: 150px;
		height: 150px;
		padding: 3rem 1rem;
		box-shadow: -1rem 0 3rem #000;
		gap: 1rem;

		&__title {
			color: #f9f9f985;
			font-size: 2rem;
			font-weight: 500;
			text-align: center;
		}
		&__icon {
			font-size: 4rem;
		}

        &__button {
            display: none;
        }

		&:not(:first-child) {
			margin-left: 0 !important;
			margin-top: 0 !important;
		}

		&:hover:not(:last-child) {
			transform: translateY(0) translateX(0);
			transition: unset;
		}
		&:hover ~ .card {
			left: 0px;
		}
		&:last-child {
			display: none;
		}
	}
}
.view__skills {
	width: 100%;
	@include g.flex-row(space-around);
	flex-wrap: wrap !important;
	gap: 1.5rem;
	
    padding: 3rem 1rem;

	.card {
		&:not(:first-child) {
			margin-left: 0 !important;
			margin-top: 0 !important;
		}

		&:hover:not(:last-child) {
			transform: translateY(0) translateX(0);
			transition: unset;
		}
		&:hover ~ .card {
			left: 0px;
		}
		&:last-child {
			display: none;
		}
	}
}
