@use '../util/fonts';
@use '../global/' as g;

.authorController {
	width: 100vw;
	height: 200px;
	z-index: 101;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	// animation: spin3D 2.2s linear 0s infinite;

	& .avatar__outter {
		width: 70px;
		height: 70px;
		border-top: 5px solid #daa520;
		border-right: 5px solid #191919;
		border-bottom: 5px solid #191919;
		border-left: 5px solid #daa520;
		transform: rotate(45deg);
		@include g.background-art;
		@include g.flex-row(center);
	}
	& .avatar__inner {
		background: #e4ebf5;
		width: 30px;
		height: 30px;
		border-top: 5px solid #191919;
		border-right: 5px solid #daa520;
		border-bottom: 5px solid #daa520;
		border-left: 5px solid #191919;
	}

	& img {
		display: none;
	}

	& .authorCtrl {
		display: flex;
		flex-direction: row-reverse;
		justify-content: center;
		align-items: center;
		font-size: 2rem;

		transition: all 3s ease-in-out;
	}
}

// skill x contact
.controller__bar--top {
	position: relative;
	right: -50px;
	/* bottom: -30px; */
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 10px;
	transform: rotate(90deg);
}

.controller__bar--bottom {
	position: relative;
	right: 50px;
	/* bottom: 30px; */
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 10px;
	transform: rotate(-90deg);
}

.controller__bar--button {
	width: 50px;
	height: 270px;
	display: flex;
	justify-content: center;
	align-items: center;
	font: fonts.$font-martrix;
	font-size: 2rem;
	color: rgb(210, 246, 218);
	text-shadow: 1px 5px 25px #daa520, 1px -5px 15px #daa520;
	// color: #daa520;
	font-weight: 700;
	background: #191919;
	border: 3px solid #daa520;
}
.controller__bar--button a {
	transition: all 1s linear;
	font-size: 4rem;
}

// skills
.topLeft {
	transform: rotate(180deg);
	writing-mode: vertical-rl;
	clip-path: polygon(0 18%, 98% 0, 100% 82%, 0 100%);
}
// contact
.topRight {
	writing-mode: vertical-rl;
	transform: rotate(180deg);
	clip-path: polygon(0 0, 100% 18%, 100% 100%, 0 82%);
}
// project
.bottomLeft {
	writing-mode: vertical-rl;
	clip-path: polygon(0 18%, 98% 0, 100% 82%, 0 100%);
}
// introduce
.bottomRight {
	writing-mode: vertical-rl;
	clip-path: polygon(0 0, 100% 18%, 100% 100%, 0 82%);
}

@media screen and (max-width: 768px) {
	.authorController {
		height: 120px;
		position: fixed;
		right: 0;
		left: 0;
		bottom: 3rem;
		transform: rotate(360deg);
		transition: 3s linear;
		z-index: 101;

		& .avatar__inner {
			// width: 60px;
			// height: 60px;
			overflow: hidden;
            filter:brightness(3px);

			& img {
				display: none;
				// width: 100px;
				// height: 100px;
				// padding: 7px;
				// position: relative;
				// bottom: 20px;
				// right: 20px;
				// object-fit: cover;
				// transform: rotate(-45deg);
			}
		}
		.controller__bar--button {
			font-size: 2rem !important;
			margin: 0rem !important;
		}
		.topLeft {
			padding-bottom: 5rem !important;
		}
		.topRight {
			padding-bottom: 5rem !important;
		}

		.bottomLeft {
			padding-top: 5rem !important;
		}
		.bottomRight {
			padding-top: 5rem !important;
		}
	}
	.authorController img {
		display: flex;
	}

	.authorController:hover {
		animation: controller__button--translate 15s linear;
	}
}

@keyframes controller__button--translate {
	to {
		transform: translateY(-100px);
	}
}
