@use 'mixin' as g;

/* -------------------------------------------------------------------------- */
/*                                   buttons                                  */
/* -------------------------------------------------------------------------- */
.btn-effect-1 {
	position: relative;
	width: 100%;
	height: 100%;
	transition: 0.5s;
	z-index: 1;

	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		height: 0%;
		width: 100%;
		transition: 0.3s ease-in-out;
		@include g.bg-matrix;
		z-index: -1;
	}

	&:hover {
		color: #f9f9f9;
	}

	&:hover::before {
		height: 100%;
	}
}
// .btn-effect-1 + .btn-effect-1 {
//     margin-left: 1rem;
// }
/* Button Effect #1 */

@media screen and (max-width: 768px) {
	.btn {
		padding: 1rem;
	}
}
.btn {
	padding: 2rem;
	background-color: transparent;
	cursor: pointer;

	& .item-title {
		font-size: 3rem;
	}
	& .item-hide {
		display: none !important;
	}
	& .item-icon {
		font-size: 50px;
	}
	& .item-show {
		// color: goldenrod;
		font-size: 3rem;
	}
	&:hover {
		& .item-hide {
			display: inline !important;
		}
		& .item-show {
			display: none;
		}
		& .item-icon {
			display: none;
		}
	}
}
.btn__primary {
	width: 160px;
	height: 80px;
	text-decoration: underline;
	border: 3px solid #191919 !important;

	margin: 0.5rem;
	font-weight: 600;
	@include g.flex-col(center);
}

.btn__skill {
	width: 200px;
	height: 200px;
	color: rgb(210, 246, 218);
	text-align: center;
	border: 1px solid rgba(0, 255, 0, 0.5);
	text-shadow: 1px 5px 25px rgba(0, 255, 0, 0.5),
		1px -5px 15px rgba(0, 255, 0, 0.5);
	@include g.bg-matrix;
}

@keyframes waterfall {
	from {
		background-position: 84px -2660px, 426px -1080px, 730px -3240px,
			872px -2160px, 95% -1350px, 0 0;
	}
	to {
		background-position: 84px 1660px, 426px 3240px, 730px 1080px,
			872px 2160px, 95% 2970px, 0 1460px;
	}
}

@-webkit-keyframes waterfall {
	from {
		background-position: 84px -2660px, 426px -1080px, 730px -3240px,
			872px -2160px, 95% -1350px, 0 0;
	}
	to {
		background-position: 84px 1660px, 426px 3240px, 730px 1080px,
			872px 2160px, 95% 2970px, 0 1460px;
	}
}

@keyframes spin {
	0% {
		--rotate: 0deg;
	}
	100% {
		--rotate: 360deg;
	}
}

/* KEYFRAMES */

@keyframes spin {
	from {
		transform: rotate(0);
	}
	to {
		transform: rotate(359deg);
	}
}

@keyframes spin3D {
	from {
		transform: rotate3d(0.5, 0.5, 0.5, 360deg);
	}
	to {
		transform: rotate3d(0deg);
	}
}

@keyframes configure-clockwise {
	0% {
		transform: rotate(0);
	}
	25% {
		transform: rotate(90deg);
	}
	50% {
		transform: rotate(180deg);
	}
	75% {
		transform: rotate(270deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@keyframes configure-xclockwise {
	0% {
		transform: rotate(45deg);
	}
	25% {
		transform: rotate(-45deg);
	}
	50% {
		transform: rotate(-135deg);
	}
	75% {
		transform: rotate(-225deg);
	}
	100% {
		transform: rotate(-315deg);
	}
}

@keyframes pulse {
	from {
		opacity: 1;
		transform: scale(1);
	}
	to {
		opacity: 0.25;
		transform: scale(0.75);
	}
}
