@use './mixin' as g;
@use './variables' as v;
/* -------------------------------------------------------------------------- */
/*                                   section                                  */
/* -------------------------------------------------------------------------- */
.section {
	width: 100vw;
	min-height: 100vh;
    margin-bottom: 15rem;
    padding: 0 v.$padding-base;
    // border: 3px solid black;
}


.section__title {
    width: 100%;
    margin: 3rem 0;
    gap: 1rem;
    @include g.flex-row(flex-start);

    &--square {
        height: 30px;
        width: 30px;
        @include g.bg-matrix;
    }
    &--cycle {
        height: 30px;
        width: 30px;
        border-radius: 50%;
        @include g.bg-matrix;
    }
    &--triagle {
        height: 30px;
        width: 30px;
        clip-path: polygon(100% 0, 0 0, 51% 100%);
        @include g.bg-matrix;
    }

    &--line {
        height: 5px;
        width: 150px;
        @include g.bg-matrix;
    }
}
/* -------------------------------------------------------------------------- */
/*                                   button                                   */
/* -------------------------------------------------------------------------- */
.btn {
	// box
	outline: unset;
	border: unset;
	cursor: pointer;
	// background: transparent;
	&-link {
		// box
		border: 3px dashed transparent;
		padding: 0.5rem 2rem;
		margin-bottom: 0.5rem;
		// text
		font-weight: 600;
		color: inherit;

		&:hover {
			// box
			border: 3px dashed #2fff89;
			// animation
			transition: 0.5s ease-in-out;
		}
	}
	&-close {
		color: #f9f9f9;
		background: #191919;
		cursor: pointer;
		// @include center-center;
        display: flex;
        align-items: center;
        justify-content: center;
    }

}

.row__line {
    width: 20%;
    height: 10px;
    @include g.bg-matrix;
    margin-bottom: 1rem;
}
.row__square {
    width: 30%;
    height: 15px;
    @include g.bg-matrix;
    margin-bottom: 1rem;
}