@use '../util/fonts';
@use 'variables' as g;
a,
a:visited,
a:active {
	text-decoration: none;
	color: inherit;
}

/** * Correct the font size and margin on `h1` elements within `section` and * `article` contexts in Chrome, Firefox, and Safari. */
h1 {
	// width: 100%;
	font: fonts.$font-martrix;
	font-size: 5rem;
	font-weight: 900;
	letter-spacing: 0.25rem;
	line-height: 1.25;
	text-align: center;
	text-transform: uppercase;
	// color: rgb(210, 246, 218);
	text-shadow: g.$text-shadow-dark;
	// color: #daa520;
}

@media screen and (max-width: 1024px) {
    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 3.5rem;

    }
    
}
@media screen and (max-width: 768px) {
    h1 {
        font-size: 2.7rem;
    }

    h2 {
        font-size: 2.5rem !important;

    }
    
}
h2 {
	width: 100%;
	font: fonts.$font-martrix;
	font-size: 4rem;
	font-weight: 800;
	letter-spacing: 0.25rem;
	line-height: 1.25;
	text-align: center;
	// color: rgb(210, 246, 218);
}
/* Grouping content   ========================================================================== */
/** * 
 * 1. Add the correct box sizing in Firefox. 
 * * 2. Show the overflow in Edge and IE. */
hr {
	box-sizing: content-box;

	/* 1 */
	height: 0;

	/* 1 */
	overflow: visible;

	/* 2 */
}
/** 
 * * 1. Correct the inheritance and scaling of font size in all browsers. 
 * * 2. Correct the odd `em` font sizing in all browsers. */
pre {
	font-family: monospace, monospace;

	/* 1 */
	font-size: 1em;

	/* 2 */
}

/* Text-level semantics   ========================================================================== */
/** * Remove the gray background on active links in IE 10. */
a {
	background-color: transparent;
}
/** 
 * * 1. Remove the bottom border in Chrome 57- 
 * * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari. */
abbr[title] {
	border-bottom: none;

	/* 1 */
	text-decoration: underline;

	/* 2 */
	text-decoration: underline dotted;

	/* 2 */
}
/** * Add the correct font weight in Chrome, Edge, and Safari. */
b,
strong {
	font-weight: bolder;
}
/**
 *  * 1. Correct the inheritance and scaling of font size in all browsers. 
 * * 2. Correct the odd `em` font sizing in all browsers. */
code,
kbd,
samp {
	font-family: monospace, monospace;

	/* 1 */
	font-size: 1em;

	/* 2 */
}
/** * Add the correct font size in all browsers. */
small {
	font-size: 80%;
}
/** * Prevent `sub` and `sup` elements from affecting the line height in * all browsers. */
sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sub {
	bottom: -0.25em;
}
sup {
	top: -0.5em;
}
