$box-shadow-in: inset 0.2rem 0.2rem 0.5rem #c8d0e7,
	inset -0.2rem -0.2rem 0.5rem #fff;
$box-shadow-out: 0.8rem 0.8rem 1.4rem #c8d0e7, -0.2rem -0.2rem 1.8rem #fff;
$text-shadow: 1px 5px 25px #daa520, 1px -5px 15px #daa520;
$text-shadow-dark: 1px 5px 25px #191919, 1px -5px 15px #191919;
$container: 768px;

$padding-base: 3rem;
$margin-base: 3rem;
$section-gap: 15rem;

