@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");
/* -------------------------------------------------------------------------- */
/*                               mixin: flexbox                               */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/*                          background matrix effect                          */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/*                                   buttons                                  */
/* -------------------------------------------------------------------------- */
.btn-effect-1 {
  position: relative;
  transition: 0.5s;
  z-index: 1;
}
.btn-effect-1::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 0%;
  width: 100%;
  transition: 0.3s ease-in-out;
  background: url("../assets/images/banner/bg03b.png") 84px -1080px no-repeat, url("../assets/images/banner/bg01b.png") 426px -1080px no-repeat, url("../assets/images/banner/bg02b.png") 730px -1080px no-repeat, url("../assets/images/banner/bg03b.png") 872px -1080px no-repeat, url("../assets/images/banner/bg02b.png") 95% -1080px no-repeat, url("../assets/images/banner/bg00.jpg") 0 0 repeat;
  background-color: #111;
  -webkit-animation: waterfall 10s linear infinite;
  animation: waterfall 10s linear infinite;
  z-index: -1;
}
.btn-effect-1:hover {
  color: #f9f9f9;
}
.btn-effect-1:hover::before {
  height: 100%;
}

@media screen and (max-width: 768px) {
  .btn {
    padding: 1rem !important;
  }
}
.btn {
  background-color: transparent;
  cursor: pointer;
}
.btn .item-title {
  font-size: 3rem;
}
.btn .item-hide {
  display: none !important;
}
.btn .item-icon {
  font-size: 50px;
}
.btn .item-show {
  font-size: 3rem;
}
.btn:hover .item-hide {
  display: inline !important;
}
.btn:hover .item-show {
  display: none;
}
.btn:hover .item-icon {
  display: none;
}

.btn__primary {
  padding: 2rem;
  width: 170px;
  height: 80px;
  text-decoration: underline;
  border: 3px solid #f9f9f9 !important;
  margin: 0.5rem;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.btn__secondary {
  gap: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.btn__secondary:hover {
  text-decoration: underline;
  transform: translateX(5px);
  transition: all 1s linear;
}

.btn__skill {
  width: 200px;
  height: 200px;
  color: rgb(210, 246, 218);
  text-align: center;
  border: 1px solid rgba(0, 255, 0, 0.5);
  text-shadow: 1px 5px 25px rgba(0, 255, 0, 0.5), 1px -5px 15px rgba(0, 255, 0, 0.5);
  background: url("../assets/images/banner/bg03b.png") 84px -1080px no-repeat, url("../assets/images/banner/bg01b.png") 426px -1080px no-repeat, url("../assets/images/banner/bg02b.png") 730px -1080px no-repeat, url("../assets/images/banner/bg03b.png") 872px -1080px no-repeat, url("../assets/images/banner/bg02b.png") 95% -1080px no-repeat, url("../assets/images/banner/bg00.jpg") 0 0 repeat;
  background-color: #111;
  -webkit-animation: waterfall 10s linear infinite;
  animation: waterfall 10s linear infinite;
}

@keyframes waterfall {
  from {
    background-position: 84px -2660px, 426px -1080px, 730px -3240px, 872px -2160px, 95% -1350px, 0 0;
  }
  to {
    background-position: 84px 1660px, 426px 3240px, 730px 1080px, 872px 2160px, 95% 2970px, 0 1460px;
  }
}
@-webkit-keyframes waterfall {
  from {
    background-position: 84px -2660px, 426px -1080px, 730px -3240px, 872px -2160px, 95% -1350px, 0 0;
  }
  to {
    background-position: 84px 1660px, 426px 3240px, 730px 1080px, 872px 2160px, 95% 2970px, 0 1460px;
  }
}
@-webkit-keyframes spin {
  0% {
    --rotate: 0deg;
  }
  100% {
    --rotate: 360deg;
  }
}
@keyframes spin {
  0% {
    --rotate: 0deg;
  }
  100% {
    --rotate: 360deg;
  }
}
/* KEYFRAMES */
@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(359deg);
  }
}
@-webkit-keyframes spin3D {
  from {
    transform: rotate3d(0.5, 0.5, 0.5, 360deg);
  }
  to {
    transform: rotate3d(0deg);
  }
}
@keyframes spin3D {
  from {
    transform: rotate3d(0.5, 0.5, 0.5, 360deg);
  }
  to {
    transform: rotate3d(0deg);
  }
}
@-webkit-keyframes configure-clockwise {
  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes configure-clockwise {
  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes configure-xclockwise {
  0% {
    transform: rotate(45deg);
  }
  25% {
    transform: rotate(-45deg);
  }
  50% {
    transform: rotate(-135deg);
  }
  75% {
    transform: rotate(-225deg);
  }
  100% {
    transform: rotate(-315deg);
  }
}
@keyframes configure-xclockwise {
  0% {
    transform: rotate(45deg);
  }
  25% {
    transform: rotate(-45deg);
  }
  50% {
    transform: rotate(-135deg);
  }
  75% {
    transform: rotate(-225deg);
  }
  100% {
    transform: rotate(-315deg);
  }
}
@-webkit-keyframes pulse {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0.25;
    transform: scale(0.75);
  }
}
@keyframes pulse {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0.25;
    transform: scale(0.75);
  }
}
@font-face {
  src: url("../assets/font/Matrix.ttf") format("truetype");
  font-family: Matrix;
  font-weight: 100;
}
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
*,
*::before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
  background-color: transparent;
  width: 5px;
}

html {
  line-height: 1.15;
  font-size: 62.5%;
}

body {
  /** * Remove the margin in all browsers. */
  margin: 0;
  font-size: 2rem;
  color: #f9f9f9;
  background-image: url("/public/assets/images/background/banner.png");
  background-position: center;
  background-size: cover;
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
}

.App {
  width: 100vw;
  overflow-x: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/** * Show the overflow in IE. * 1. Show the overflow in Edge. */
button,
input {
  /* 1 */
  overflow: visible;
}

/** * Remove the inheritance of text transform in Edge, Firefox, and IE. * 1. Remove the inheritance of text transform in Firefox. */
button,
select {
  /* 1 */
  text-transform: none;
}

/** * Correct the inability to style clickable types in iOS and Safari. */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/** * Remove the inner border and padding in Firefox. */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/** * Restore the focus styles unset by the previous rule. */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/** * Correct the padding in Firefox. */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/** * 1. Correct the text wrapping in Edge and IE. * 2. Correct the color inheritance from `fieldset` elements in IE. * 3. Remove the padding so developers are not caught out when they zero out *    `fieldset` elements in all browsers. */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/** * Add the correct vertical alignment in Chrome, Firefox, and Opera. */
progress {
  vertical-align: baseline;
}

/** * Remove the default vertical scrollbar in IE 10+. */
textarea {
  overflow: auto;
}

/** * 1. Add the correct box sizing in IE 10. * 2. Remove the padding in IE 10. */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/** * Correct the cursor style of increment and decrement buttons in Chrome. */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/** * 1. Correct the odd appearance in Chrome and Safari. * 2. Correct the outline style in Safari. */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/** * Remove the inner padding in Chrome and Safari on macOS. */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/** * 1. Correct the inability to style clickable types in iOS and Safari. * 2. Change font properties to `inherit` in Safari. */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive   ========================================================================== */
/* * Add the correct display in Edge, IE 10+, and Firefox. */
details {
  display: block;
}

/* * Add the correct display in all browsers. */
summary {
  display: list-item;
}

/* Misc   ========================================================================== */
/** * Add the correct display in IE 10+. */
template {
  display: none;
}

/** * Add the correct display in IE 10. */
[hidden] {
  display: none;
}

a,
a:visited,
a:active {
  text-decoration: none;
  color: inherit;
}

/** * Correct the font size and margin on `h1` elements within `section` and * `article` contexts in Chrome, Firefox, and Safari. */
h1 {
  font: 350% Matrix, sans-serif;
  font-size: 5rem;
  font-weight: 900;
  letter-spacing: 0.25rem;
  line-height: 1.25;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 1px 5px 25px #191919, 1px -5px 15px #f9f9f9;
}

@media screen and (max-width: 1024px) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 3.5rem;
  }
}
@media screen and (max-width: 768px) {
  h1 {
    font-size: 2.7rem;
  }
  h2 {
    font-size: 2.5rem !important;
  }
}
h2 {
  width: 100%;
  font-size: 3rem;
  font-weight: 800;
  letter-spacing: 0.25rem;
  line-height: 1.25;
  text-align: center;
}

/* Grouping content   ========================================================================== */
/** * 
 * 1. Add the correct box sizing in Firefox. 
 * * 2. Show the overflow in Edge and IE. */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/** 
 * * 1. Correct the inheritance and scaling of font size in all browsers. 
 * * 2. Correct the odd `em` font sizing in all browsers. */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics   ========================================================================== */
/** * Remove the gray background on active links in IE 10. */
a {
  background-color: transparent;
}

/** 
 * * 1. Remove the bottom border in Chrome 57- 
 * * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari. */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/** * Add the correct font weight in Chrome, Edge, and Safari. */
b,
strong {
  font-weight: bolder;
}

/**
 *  * 1. Correct the inheritance and scaling of font size in all browsers. 
 * * 2. Correct the odd `em` font sizing in all browsers. */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/** * Add the correct font size in all browsers. */
small {
  font-size: 80%;
}

/** * Prevent `sub` and `sup` elements from affecting the line height in * all browsers. */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* -------------------------------------------------------------------------- */
/*                                   section                                  */
/* -------------------------------------------------------------------------- */
.section {
  width: 100vw;
  min-height: 100vh;
  margin-bottom: 15rem;
  padding: 0 3rem;
}

.section__title {
  width: 100%;
  margin: 3rem 0;
  gap: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.section__title--square {
  height: 30px;
  width: 30px;
  background: url("../assets/images/banner/bg03b.png") 84px -1080px no-repeat, url("../assets/images/banner/bg01b.png") 426px -1080px no-repeat, url("../assets/images/banner/bg02b.png") 730px -1080px no-repeat, url("../assets/images/banner/bg03b.png") 872px -1080px no-repeat, url("../assets/images/banner/bg02b.png") 95% -1080px no-repeat, url("../assets/images/banner/bg00.jpg") 0 0 repeat;
  background-color: #111;
  -webkit-animation: waterfall 10s linear infinite;
  animation: waterfall 10s linear infinite;
}
.section__title--cycle {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background: url("../assets/images/banner/bg03b.png") 84px -1080px no-repeat, url("../assets/images/banner/bg01b.png") 426px -1080px no-repeat, url("../assets/images/banner/bg02b.png") 730px -1080px no-repeat, url("../assets/images/banner/bg03b.png") 872px -1080px no-repeat, url("../assets/images/banner/bg02b.png") 95% -1080px no-repeat, url("../assets/images/banner/bg00.jpg") 0 0 repeat;
  background-color: #111;
  -webkit-animation: waterfall 10s linear infinite;
  animation: waterfall 10s linear infinite;
}
.section__title--triagle {
  height: 30px;
  width: 30px;
  -webkit-clip-path: polygon(100% 0, 0 0, 51% 100%);
          clip-path: polygon(100% 0, 0 0, 51% 100%);
  background: url("../assets/images/banner/bg03b.png") 84px -1080px no-repeat, url("../assets/images/banner/bg01b.png") 426px -1080px no-repeat, url("../assets/images/banner/bg02b.png") 730px -1080px no-repeat, url("../assets/images/banner/bg03b.png") 872px -1080px no-repeat, url("../assets/images/banner/bg02b.png") 95% -1080px no-repeat, url("../assets/images/banner/bg00.jpg") 0 0 repeat;
  background-color: #111;
  -webkit-animation: waterfall 10s linear infinite;
  animation: waterfall 10s linear infinite;
}
.section__title--line {
  height: 5px;
  width: 150px;
  background: url("../assets/images/banner/bg03b.png") 84px -1080px no-repeat, url("../assets/images/banner/bg01b.png") 426px -1080px no-repeat, url("../assets/images/banner/bg02b.png") 730px -1080px no-repeat, url("../assets/images/banner/bg03b.png") 872px -1080px no-repeat, url("../assets/images/banner/bg02b.png") 95% -1080px no-repeat, url("../assets/images/banner/bg00.jpg") 0 0 repeat;
  background-color: #111;
  -webkit-animation: waterfall 10s linear infinite;
  animation: waterfall 10s linear infinite;
}

@media screen and (max-width: 768px) {
  .section__title--line {
    display: none;
  }
}
/* -------------------------------------------------------------------------- */
/*                                   button                                   */
/* -------------------------------------------------------------------------- */
.btn {
  outline: unset;
  border: unset;
  cursor: pointer;
}
.btn-link {
  border: 3px dashed transparent;
  padding: 0.5rem 2rem;
  margin-bottom: 0.5rem;
  font-weight: 600;
  color: inherit;
}
.btn-link:hover {
  border: 3px dashed #2fff89;
  transition: 0.5s ease-in-out;
}
.btn-close {
  color: #f9f9f9;
  background: #f9f9f9;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.row__line {
  width: 20%;
  height: 10px;
  background: url("../assets/images/banner/bg03b.png") 84px -1080px no-repeat, url("../assets/images/banner/bg01b.png") 426px -1080px no-repeat, url("../assets/images/banner/bg02b.png") 730px -1080px no-repeat, url("../assets/images/banner/bg03b.png") 872px -1080px no-repeat, url("../assets/images/banner/bg02b.png") 95% -1080px no-repeat, url("../assets/images/banner/bg00.jpg") 0 0 repeat;
  background-color: #111;
  -webkit-animation: waterfall 10s linear infinite;
  animation: waterfall 10s linear infinite;
  margin-bottom: 1rem;
}

.row__square {
  width: 30%;
  height: 15px;
  background: url("../assets/images/banner/bg03b.png") 84px -1080px no-repeat, url("../assets/images/banner/bg01b.png") 426px -1080px no-repeat, url("../assets/images/banner/bg02b.png") 730px -1080px no-repeat, url("../assets/images/banner/bg03b.png") 872px -1080px no-repeat, url("../assets/images/banner/bg02b.png") 95% -1080px no-repeat, url("../assets/images/banner/bg00.jpg") 0 0 repeat;
  background-color: #111;
  -webkit-animation: waterfall 10s linear infinite;
  animation: waterfall 10s linear infinite;
  margin-bottom: 1rem;
}

.loading {
  width: 100vw;
  height: 100vh;
  padding: 7rem 0;
  background-image: url("../assets/images/bg-2.JPG");
  color: rgba(0, 255, 0, 0.5);
  gap: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.loading-title {
  font-size: 10vh;
}
.loading-subTitle-one {
  font-size: 3vh;
}
.loading-subTitle-one-line {
  width: 100px;
  height: 2vh;
  border-top: 3px solid rgba(0, 255, 0, 0.5);
  border-bottom: 3px solid rgba(0, 255, 0, 0.5);
}
.loading-subTitle-two {
  font-size: 5vh;
}
.loading-subTitle-three {
  font-size: 10vh;
}
.loading__symbol {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}
.loading__symbol--square {
  width: 100px;
  height: 100px;
  padding: 0.2rem;
  transition: 2s ease-in-out;
  border: 3px groove rgba(0, 255, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
.loading__symbol--square:hover {
  transform: rotate(-180deg);
  cursor: pointer;
}
.loading__symbol--square:hover .loading__symbol--cycle {
  border-radius: 50%;
  transform: rotate(900deg);
  border: 3px solid rgba(0, 255, 0, 0.5);
}
.loading__symbol--cycle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0.2rem;
  -o-object-fit: cover;
     object-fit: cover;
  color: rgba(0, 255, 0, 0.5);
  transition: 2s ease-in-out;
  border: 3px groove rgba(0, 255, 0, 0.5);
}

@media screen and (max-width: 768px) {
  .loading {
    padding: 3rem 0 5rem;
  }
  .loading-title {
    font-size: 5vh;
  }
  .loading-subTitle-three {
    font-size: 3.5vh;
  }
}
@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.footer {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 480px) {
  .footer {
    margin-bottom: 0px;
  }
}
.opening {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1001;
}
.opening span {
  font: 350% Matrix, sans-serif;
  font-size: 5rem;
  text-align: center;
  text-shadow: 1px 5px 25px rgba(0, 255, 0, 0.5), 1px -5px 15px rgba(0, 255, 0, 0.5);
}

@media screen and (max-width: 768px) {
  .opening {
    font-size: 2.5rem;
  }
}
.banner {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: url("../assets/images/banner/bg03b.png") 84px -1080px no-repeat, url("../assets/images/banner/bg01b.png") 426px -1080px no-repeat, url("../assets/images/banner/bg02b.png") 730px -1080px no-repeat, url("../assets/images/banner/bg03b.png") 872px -1080px no-repeat, url("../assets/images/banner/bg02b.png") 95% -1080px no-repeat, url("../assets/images/banner/bg00.jpg") 0 0 repeat;
  background-color: #111;
  -webkit-animation: waterfall 10s linear infinite;
  animation: waterfall 10s linear infinite;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
.banner p {
  font-size: 3rem;
}
.banner__right {
  position: absolute;
  top: 50%;
  right: 10rem;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}
.banner__right h1, .banner__right p {
  color: rgb(210, 246, 218);
  text-shadow: 1px 5px 25px rgba(0, 255, 0, 0.5), 1px -5px 15px rgba(0, 255, 0, 0.5);
}

@media screen and (max-width: 768px) {
  .banner {
    z-index: 1001;
  }
  .banner__right {
    flex: 1;
    position: static;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .banner__right h1 {
    font-size: 3rem;
  }
}
.introduce {
  margin-top: 15rem;
}
.introduce__container {
  padding: 0 3rem 3rem;
  width: 100%;
  height: 100%;
  gap: 5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.introduce__container--right {
  flex: 0.6;
}
.introduce__container--left {
  flex: 0.6;
  padding: 5rem 0;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
}
.introduce__container--left p {
  width: 100%;
  font-weight: 400;
}
.introduce__container--left p span {
  text-shadow: 1px 5px 25px #191919, 1px -5px 15px #f9f9f9;
  font-size: 2 rem;
  padding: 0.5rem;
}
.introduce__container--left p a {
  padding: 0.5rem;
  text-shadow: 1px 5px 25px rgb(0, 255, 0), 1px -5px 15px rgb(0, 255, 0);
}

@media screen and (max-width: 768px) {
  .introduce {
    height: -webkit-max-content !important;
    height: -moz-max-content !important;
    height: max-content !important;
  }
  .introduce__container {
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: none;
  }
  .introduce__container--left {
    font-size: 2rem !important;
    flex: 1;
    padding: 1rem 0;
  }
}
.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.skills__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.skills__container--list {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  margin: 3rem 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}

.card {
  width: 240px;
  height: 280px;
  padding: 3rem 1rem;
  box-shadow: -1rem 0 3rem #000;
  position: relative;
  left: 0px;
  background-color: #17141d;
  transition: 0.4s ease-out;
  cursor: pointer;
  gap: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.card__bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  gap: 5rem;
}
.card__button {
  padding: 1rem 2rem;
  box-shadow: -1rem 0 3rem #000;
  color: #f9f9f9;
  background-color: #17141d;
  transition: 0.4s ease-out;
  z-index: 11;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.card__button:hover {
  text-decoration: underline;
  font-weight: 700;
}
.card__title {
  color: rgba(249, 249, 249, 0.5215686275);
  font-size: 3rem;
  font-weight: 600;
  text-align: center;
}
.card__icon {
  font-size: 7rem;
  color: rgba(0, 255, 0, 0.5) !important;
  border: none;
}

.card:not(:first-child) {
  margin-left: -180px;
}
.card:nth-child(2) {
  margin-top: 30px;
}
.card:nth-child(3) {
  margin-top: 60px;
}
.card:nth-child(4) {
  margin-top: 90px;
}
.card:nth-child(5) {
  margin-top: 120px;
}
.card:nth-child(6) {
  margin-top: 150px;
}
.card:nth-child(7) {
  margin-top: 180px;
}
.card:nth-child(8) {
  margin-top: 210px;
}
.card:nth-child(9) {
  margin-top: 240px;
}
.card:nth-child(10) {
  margin-top: 270px;
}
.card:nth-child(11) {
  margin-top: 300px;
}
.card:nth-child(12) {
  margin-top: 330px;
}
.card:nth-child(13) {
  margin-top: 360px;
}
.card:nth-child(14) {
  margin-top: 390px;
}

.card:hover {
  text-shadow: 1px 5px 25px rgba(0, 255, 0, 0.5), 1px -5px 15px rgba(0, 255, 0, 0.5);
  background: url("../assets/images/banner/bg03b.png") 84px -1080px no-repeat, url("../assets/images/banner/bg01b.png") 426px -1080px no-repeat, url("../assets/images/banner/bg02b.png") 730px -1080px no-repeat, url("../assets/images/banner/bg03b.png") 872px -1080px no-repeat, url("../assets/images/banner/bg02b.png") 95% -1080px no-repeat, url("../assets/images/banner/bg00.jpg") 0 0 repeat;
  background-color: #111;
  -webkit-animation: waterfall 10s linear infinite;
  animation: waterfall 10s linear infinite;
}
.card:hover:not(:last-child) {
  transform: translateY(-20px) translateX(-130px);
  transition: 0.4s ease-out;
}
.card:hover ~ .card {
  position: relative;
  left: 50px;
  transition: 0.4s ease-out;
}

@media screen and (max-width: 768px) {
  .skills__container--list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: auto;
  }
  .card:hover:before,
.card:hover:after {
    -webkit-animation: spin 2.5s linear infinite;
            animation: spin 2.5s linear infinite;
    opacity: 1;
    transition: opacity 0.5s;
  }
  .card {
    width: 150px;
    height: 150px;
    gap: 1rem;
  }
  .card__title {
    color: rgba(249, 249, 249, 0.5215686275);
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
  }
  .card:not(:first-child) {
    margin-left: 0 !important;
    margin-top: 0 !important;
  }
  .card:hover:not(:last-child) {
    transform: translateY(0) translateX(0);
    transition: unset;
  }
  .card:hover ~ .card {
    left: 0px;
  }
  .card:last-child {
    display: none;
  }
  .card__icon {
    font-size: 4rem;
  }
  .card__button {
    display: none;
  }
  .card:not(:first-child) {
    margin-left: 0 !important;
    margin-top: 0 !important;
  }
  .card:hover:not(:last-child) {
    transform: translateY(0) translateX(0);
    transition: unset;
  }
  .card:hover ~ .card {
    left: 0px;
  }
  .card:last-child {
    display: none;
  }
}
.view__skills {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap !important;
  gap: 1.5rem;
  padding: 3rem 1rem;
}
.view__skills .card:not(:first-child) {
  margin-left: 0 !important;
  margin-top: 0 !important;
}
.view__skills .card:hover:not(:last-child) {
  transform: translateY(0) translateX(0);
  transition: unset;
}
.view__skills .card:hover ~ .card {
  left: 0px;
}
.view__skills .card:last-child {
  display: none;
}

body.remove-scroll {
  overflow-y: hidden;
}

.project {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.project__item {
  padding: 0rem;
  cursor: pointer;
}
.project__item .dark {
  color: #f9f9f9;
}
.project__item--info {
  display: none;
  width: 100%;
  height: 100%;
}
.project__item--info h2 {
  display: block;
}
.project__item--info div {
  color: #191919;
  background-color: #e4ebf5;
  text-decoration: none;
}
.project__item:hover {
  padding: 1rem;
  transition: all 1s linear;
}
.project__item:hover .project__item--info {
  gap: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("/public/assets/images/background/banner.png");
  background-position: center;
  background-size: cover;
}
.project__item:hover h2 {
  color: #f9f9f9;
}

@media screen and (max-width: 425px) {
  .project .project__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 3rem;
  }
  .project__item {
    width: 90vw !important;
    height: 90vw !important;
  }
}
@media screen and (max-width: 768px) {
  .project .project__container {
    width: 100%;
    flex-wrap: wrap;
    gap: 3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
  .project__item {
    width: 40vw;
    height: 40vw;
  }
}
@media screen and (max-width: 1924px) {
  .project__container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 3rem 3rem;
    grid-auto-flow: row;
    grid-template-areas: "item__01 item__02 item__02" "item__01 item__03 item__04" "item__05 item__06 item__04" "item__07 item__07 item__08";
  }
  .project__item {
    min-height: 280px;
    box-shadow: -1rem 0 3rem #000;
  }
  .project__item:nth-child(1) {
    grid-area: item__01;
  }
  .project__item:nth-child(2) {
    grid-area: item__02;
  }
  .project__item:nth-child(3) {
    grid-area: item__03;
  }
  .project__item:nth-child(4) {
    grid-area: item__04;
  }
  .project__item:nth-child(5) {
    grid-area: item__05;
  }
  .project__item:nth-child(6) {
    grid-area: item__06;
  }
  .project__item:nth-child(7) {
    grid-area: item__07;
  }
}
.modal__item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem;
  padding: 2rem 3rem 3rem;
}
.modal__item--buttons {
  gap: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.modal__item--buttons a {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.modal__item--buttons a span {
  font-weight: 600;
  margin-right: 1rem;
}
.modal__item--buttons a:hover {
  text-decoration: underline;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1001;
  background-color: rgba(128, 128, 128, 0.551);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal__container {
  width: 450px;
  height: 90vh;
  background-color: #17141d;
  box-shadow: -1rem 0 3rem #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overscroll-behavior-y: contain;
  overflow-y: scroll;
}
.modal__container--bar {
  padding: 0 0 3rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal__container--bar > button {
  outline: 0;
  border: 0;
  box-shadow: unset;
}
.modal__container > img {
  width: 100%;
  height: 320px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (max-width: 768px) {
  .modal__container {
    width: 100%;
    height: 100%;
  }
}
/* --------------------------- portfolio > project -------------------------- */
.project__list--row {
  gap: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.project__list--col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.project__list--row, .project__list--col {
  width: 100%;
  padding: auto;
  margin: 3rem 0 0;
  flex-wrap: wrap;
}
.project__list--row h2, .project__list--col h2 {
  margin: 1rem 0;
}
.project__list--row h2 span, .project__list--col h2 span {
  text-decoration: underline;
}
.project__list--buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.project__info {
  margin-bottom: 15rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .project__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
}
.contact {
  width: 100%;
  flex: 1;
  padding: 35vh 3rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.contact h1 {
  color: rgb(210, 246, 218);
  text-shadow: 1px 5px 25px rgba(0, 255, 0, 0.5), 1px -5px 15px rgba(0, 255, 0, 0.5);
  -webkit-animation: font-tranformer2 5s 50s linear infinite;
          animation: font-tranformer2 5s 50s linear infinite;
}
.contact p {
  font-size: 5rem;
  font-weight: 800;
  color: #848484;
}

@media screen and (max-width: 426px) {
  .contact h1 {
    font-size: 5vw;
  }
  .contact p {
    font-size: 3rem;
    font-weight: 800;
  }
}
@-webkit-keyframes font-tranformer2 {
  0% {
    text-transform: lowercase;
  }
  50% {
    opacity: 0;
  }
  100% {
    text-transform: uppercase;
    opacity: 1;
  }
}
@keyframes font-tranformer2 {
  0% {
    text-transform: lowercase;
  }
  50% {
    opacity: 0;
  }
  100% {
    text-transform: uppercase;
    opacity: 1;
  }
}
.credit {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  width: 100%;
  padding: 3rem;
  font-weight: 700;
  color: rgb(210, 246, 218);
  text-shadow: 1px 5px 25px rgba(0, 255, 0, 0.5), 1px -5px 15px rgba(0, 255, 0, 0.5);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .credit {
    padding: 3rem 1rem;
    flex-direction: column;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
}
.section__quote {
  margin: 15rem 0 0;
  gap: 1rem;
  color: rgb(210, 246, 218);
  text-shadow: 1px 5px 25px rgba(0, 255, 0, 0.5), 1px -5px 15px rgba(0, 255, 0, 0.5);
  padding: 7rem;
  border-top: 0.1px solid rgba(0, 255, 0, 0.5);
  border-bottom: 0.1px solid rgba(0, 255, 0, 0.5);
  background: url("../assets/images/banner/bg03b.png") 84px -1080px no-repeat, url("../assets/images/banner/bg01b.png") 426px -1080px no-repeat, url("../assets/images/banner/bg02b.png") 730px -1080px no-repeat, url("../assets/images/banner/bg03b.png") 872px -1080px no-repeat, url("../assets/images/banner/bg02b.png") 95% -1080px no-repeat, url("../assets/images/banner/bg00.jpg") 0 0 repeat;
  background-color: #111;
  -webkit-animation: waterfall 10s linear infinite;
  animation: waterfall 10s linear infinite;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.section__quote--container {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.section__quote--container > p {
  text-align: center;
}
.section__quote--container > span {
  font-weight: 600;
  width: 100%;
  text-align: center;
}

nav {
  width: 100vw;
  transition: all 0.5s;
  z-index: 101;
  height: 50px;
  box-shadow: -1rem 0 3rem #000;
  background-image: url("/public/assets/images/background/banner.png");
  background-position: center;
  background-size: cover;
}

.fixed-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

nav ul {
  list-style: none;
  display: flex;
  height: 50px;
}

nav li {
  flex: 1;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
  cursor: pointer;
}

nav li.brand {
  max-width: 0;
  overflow: hidden;
  background-color: #17141d;
  transition: all 0.5s;
  color: #f9f9f9;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.175rem;
}

nav li.logo {
  position: relative;
  left: -20px;
  top: 5px;
  max-width: 0;
  overflow: hidden;
  background-color: #17141d;
  transition: all 0.5s;
}

@media screen and (max-width: 768px) {
  nav li.brand {
    display: none;
  }
  nav li.logo {
    display: none;
  }
}
nav li:not(.brand):hover {
  background-color: #f9f9f9;
}

.fixed-nav li.brand {
  max-width: 500px;
}

.fixed-nav li.logo {
  max-width: 40px;
  height: 40px;
  border-radius: 50%;
  border-left: 20px solid #494949;
  border-right: 20px solid #17141d;
  background-color: #f9f9f9;
  z-index: 1;
}

.fixed-nav li.logo:hover {
  -webkit-animation: moving_eye 2s linear forwards;
          animation: moving_eye 2s linear forwards;
}

@-webkit-keyframes moving_eye {
  0% {
    border-left: 5px solid #494949;
    border-right: 5px solid rgba(0, 255, 0, 0.5);
  }
  50% {
    border-left: 20px solid #494949;
    border-right: 20px solid rgba(0, 255, 0, 0.5);
  }
  100% {
    border-left: 5px solid #494949;
    border-right: 5px solid rgba(0, 255, 0, 0.5);
  }
}

@keyframes moving_eye {
  0% {
    border-left: 5px solid #494949;
    border-right: 5px solid rgba(0, 255, 0, 0.5);
  }
  50% {
    border-left: 20px solid #494949;
    border-right: 20px solid rgba(0, 255, 0, 0.5);
  }
  100% {
    border-left: 5px solid #494949;
    border-right: 5px solid rgba(0, 255, 0, 0.5);
  }
}
nav a {
  font-weight: 700;
  text-decoration: none;
  padding: 0.5rem 1rem;
  display: inline-block;
  color: #f9f9f9 !important;
  transition: all 0.2s;
  text-transform: uppercase;
}

@media screen and (max-width: 425px) {
  nav {
    display: none;
  }
}
.authorController {
  width: 100vw;
  height: 200px;
  z-index: 101;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.authorController .avatar__outter {
  width: 70px;
  height: 70px;
  border-top: 5px solid rgba(0, 255, 0, 0.5);
  border-right: 5px solid #f9f9f9;
  border-bottom: 5px solid #f9f9f9;
  border-left: 5px solid rgba(0, 255, 0, 0.5);
  transform: rotate(45deg);
  background-image: url("/public/assets/images/background/banner.png");
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.authorController .avatar__inner {
  background: #e4ebf5;
  width: 30px;
  height: 30px;
  border-top: 5px solid #f9f9f9;
  border-right: 5px solid rgba(0, 255, 0, 0.5);
  border-bottom: 5px solid rgba(0, 255, 0, 0.5);
  border-left: 5px solid #f9f9f9;
}
.authorController img {
  display: none;
}
.authorController .authorCtrl {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  transition: all 3s ease-in-out;
}

.controller__bar--top {
  position: relative;
  right: -50px;
  /* bottom: -30px; */
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  transform: rotate(90deg);
}

.controller__bar--bottom {
  position: relative;
  right: 50px;
  /* bottom: 30px; */
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  transform: rotate(-90deg);
}

.controller__bar--button {
  width: 50px;
  height: 270px;
  display: flex;
  justify-content: center;
  align-items: center;
  font: 350% Matrix, sans-serif;
  font-size: 2rem;
  color: rgb(210, 246, 218);
  text-shadow: 1px 5px 25px rgba(0, 255, 0, 0.5), 1px -5px 15px rgba(0, 255, 0, 0.5);
  font-weight: 700;
  background: #f9f9f9;
  border: 3px solid rgba(0, 255, 0, 0.5);
}

.controller__bar--button a {
  transition: all 1s linear;
  font-size: 4rem;
}

.topLeft {
  transform: rotate(180deg);
  -ms-writing-mode: tb-rl;
      writing-mode: vertical-rl;
  -webkit-clip-path: polygon(0 18%, 98% 0, 100% 82%, 0 100%);
          clip-path: polygon(0 18%, 98% 0, 100% 82%, 0 100%);
}

.topRight {
  -ms-writing-mode: tb-rl;
      writing-mode: vertical-rl;
  transform: rotate(180deg);
  -webkit-clip-path: polygon(0 0, 100% 18%, 100% 100%, 0 82%);
          clip-path: polygon(0 0, 100% 18%, 100% 100%, 0 82%);
}

.bottomLeft {
  -ms-writing-mode: tb-rl;
      writing-mode: vertical-rl;
  -webkit-clip-path: polygon(0 18%, 98% 0, 100% 82%, 0 100%);
          clip-path: polygon(0 18%, 98% 0, 100% 82%, 0 100%);
}

.bottomRight {
  -ms-writing-mode: tb-rl;
      writing-mode: vertical-rl;
  -webkit-clip-path: polygon(0 0, 100% 18%, 100% 100%, 0 82%);
          clip-path: polygon(0 0, 100% 18%, 100% 100%, 0 82%);
}

@media screen and (max-width: 768px) {
  .authorController {
    height: 120px;
    position: fixed;
    right: 0;
    left: 0;
    bottom: 3rem;
    transform: rotate(360deg);
    transition: 3s linear;
    z-index: 101;
  }
  .authorController .avatar__inner {
    overflow: hidden;
    filter: brightness(3px);
  }
  .authorController .avatar__inner img {
    display: none;
  }
  .authorController .controller__bar--button {
    font-size: 2rem !important;
    margin: 0rem !important;
  }
  .authorController .topLeft {
    padding-bottom: 5rem !important;
  }
  .authorController .topRight {
    padding-bottom: 5rem !important;
  }
  .authorController .bottomLeft {
    padding-top: 5rem !important;
  }
  .authorController .bottomRight {
    padding-top: 5rem !important;
  }
  .authorController img {
    display: flex;
  }
  .authorController:hover {
    -webkit-animation: controller__button--translate 15s linear;
            animation: controller__button--translate 15s linear;
  }
}
@-webkit-keyframes controller__button--translate {
  to {
    transform: translateY(-100px);
  }
}
@keyframes controller__button--translate {
  to {
    transform: translateY(-100px);
  }
}
.scrollDown {
  position: fixed;
  bottom: 3rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.scrollDown__icon:first-child {
  -webkit-animation: twikle 1s infinite;
          animation: twikle 1s infinite;
}
.scrollDown__icon:not(:first-child) {
  opacity: 0;
  -webkit-animation: twikle 1s infinite;
          animation: twikle 1s infinite;
}
.scrollDown__icon:nth-child(2) {
  -webkit-animation-delay: 0.25s;
          animation-delay: 0.25s;
}
.scrollDown__icon:nth-child(3) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}
.scrollDown__icon:nth-child(4) {
  -webkit-animation-delay: 0.75s;
          animation-delay: 0.75s;
}

@-webkit-keyframes twikle {
  from {
    opacity: 100%;
  }
  to {
    opacity: 0%;
  }
}

@keyframes twikle {
  from {
    opacity: 100%;
  }
  to {
    opacity: 0%;
  }
}
.scrollHide {
  display: none !important;
}

.art {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.art .avatar__outter {
  margin: -3rem;
  width: 160px;
  height: 160px;
  border-top: 5px solid #f9f9f9;
  border-right: 4px solid #f9f9f9;
  border-bottom: 3px solid #f9f9f9;
  border-left: 2px solid #f9f9f9;
  transform: rotate(45deg);
  background: url("../assets/images/banner/bg03b.png") 84px -1080px no-repeat, url("../assets/images/banner/bg01b.png") 426px -1080px no-repeat, url("../assets/images/banner/bg02b.png") 730px -1080px no-repeat, url("../assets/images/banner/bg03b.png") 872px -1080px no-repeat, url("../assets/images/banner/bg02b.png") 95% -1080px no-repeat, url("../assets/images/banner/bg00.jpg") 0 0 repeat;
  background-color: #111;
  -webkit-animation: waterfall 10s linear infinite;
  animation: waterfall 10s linear infinite;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.art .avatar__inner {
  width: 60px;
  height: 60px;
  border-top: 5px solid #f9f9f9;
  border-right: 4px solid #f9f9f9;
  border-bottom: 3px solid #f9f9f9;
  border-left: 2px solid #f9f9f9;
  transform: rotate(-90deg);
  background: url("../assets/images/banner/bg03b.png") 84px -1080px no-repeat, url("../assets/images/banner/bg01b.png") 426px -1080px no-repeat, url("../assets/images/banner/bg02b.png") 730px -1080px no-repeat, url("../assets/images/banner/bg03b.png") 872px -1080px no-repeat, url("../assets/images/banner/bg02b.png") 95% -1080px no-repeat, url("../assets/images/banner/bg00.jpg") 0 0 repeat;
  background-color: #111;
  -webkit-animation: waterfall 10s linear infinite;
  animation: waterfall 10s linear infinite;
}
.art .cycle__top {
  border-top: 5px solid #f9f9f9;
  border-right: 3px solid #f9f9f9;
  border-bottom: 1px solid #f9f9f9;
  border-left: 1px solid #f9f9f9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.art .cycle__bottom {
  border-top: 1px solid #f9f9f9;
  border-right: 1px solid #f9f9f9;
  border-bottom: 5px solid #f9f9f9;
  border-left: 3px solid #f9f9f9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.art__cycle--outer {
  width: 140px;
  height: 140px;
  border-radius: 50%;
}
.art__cycle--inner {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border-top: 5px solid #f9f9f9;
  border-right: 4px solid #f9f9f9;
  border-bottom: 3px solid #f9f9f9;
  border-left: 2px solid #f9f9f9;
  background: url("../assets/images/banner/bg03b.png") 84px -1080px no-repeat, url("../assets/images/banner/bg01b.png") 426px -1080px no-repeat, url("../assets/images/banner/bg02b.png") 730px -1080px no-repeat, url("../assets/images/banner/bg03b.png") 872px -1080px no-repeat, url("../assets/images/banner/bg02b.png") 95% -1080px no-repeat, url("../assets/images/banner/bg00.jpg") 0 0 repeat;
  background-color: #111;
  -webkit-animation: waterfall 10s linear infinite;
  animation: waterfall 10s linear infinite;
}
.art__point {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #f9f9f9;
}
.art__line {
  width: 3px;
  height: 100px;
  background: #f9f9f9;
}/*# sourceMappingURL=style.css.map */